<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" type="text/css" href="DiagramButtons.css">
        <div id = "header"> Please choose a parking spot and press submit at the bottom. </div>
        <br>
    </head>
    <body>
      <div id="topSpots" width = "5000px">
        {{#each nums}}
            <input type="radio" name="group1" id="{{this}}">
            <label class="top" for="{{this}}">{{this}}</label>
        {{/each}}
      </div>

      <div id="bottomSpots">
        {{#each nums61}}

            <input type="radio" name="group1" id="{{this}}">
            <label class="bottom" for="{{this}}">{{this}}</label>
        {{/each}}
      </div>
    </body>
</html>
