<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" type="text/css" href="DiagramButtons.css">
        <link rel="stylesheet" type="text/css" href="style.css">
        <script src="jquery.min.js"></script>
        <script src="time.js"></script>
        <div id = "header"> Please choose a parking spot and press submit at the bottom. </div>
        <br>
    </head>
    <body id = "juniorlot">
      <form id = "parkingSubmission" method="POST" action="" >
      <div id = "spots">
      <div id="firstRow" width = "5000px">
        {{#each nums}}
            {{#if this.taken}}
            <input type="radio" name="parkingSpot" id="{{this.spot}}" value="{{this.spot}}" disabled required>
            <label class="top taken" for="{{this.spot}}" >{{this.spot}}</label>
            {{else}}
            <input type="radio" name="parkingSpot" id="{{this.spot}}" value="{{this.spot}}" required>
            <label class="top" for="{{this.spot}}">{{this.spot}}</label>
            {{/if}}
        {{/each}}
      </div>

    <div id="middleSection">

      <div id="secondRow" width = "5000px">
        {{#each nums30}}
            {{#if this.taken}}
            <input type="radio" name="parkingSpot" id="{{this.spot}}" value="{{this.spot}}" disabled required>
            <label class="top taken" for="{{this.spot}}" >{{this.spot}}</label>
            {{else}}
            <input type="radio" name="parkingSpot" id="{{this.spot}}" value="{{this.spot}}" required>
            <label class="top" for="{{this.spot}}">{{this.spot}}</label>
            {{/if}}
        {{/each}}
      </div>

      <div id="median">
      </div>

      <div id="thirdRow" width = "5000px">
        {{#each nums60}}
            {{#if this.taken}}
            <input type="radio" name="parkingSpot" id="{{this.spot}}" value="{{this.spot}}" disabled required>
            <label class="top taken" for="{{this.spot}}" >{{this.spot}}</label>
            {{else}}
            <input type="radio" name="parkingSpot" id="{{this.spot}}" value="{{this.spot}}" required>
            <label class="top" for="{{this.spot}}">{{this.spot}}</label>
            {{/if}}
        {{/each}}
      </div>

    </div>

      <div id="fourthRow" width = "5000px">
        {{#each nums90}}
            {{#if this.taken}}
            <input type="radio" name="parkingSpot" id="{{this.spot}}" value="{{this.spot}}" disabled required>
            <label class="top taken" for="{{this.spot}}" >{{this.spot}}</label>
            {{else}}
            <input type="radio" name="parkingSpot" id="{{this.spot}}" value="{{this.spot}}" required>
            <label class="top" for="{{this.spot}}">{{this.spot}}</label>
            {{/if}}
        {{/each}}
      </div>

    </div>

      <input type="submit" id="SubmitButton">
    </form>
  </body>

    <div id = 'timer'> You have <div id = 'currentTime'>45</div> seconds to complete this form. </div>

    <div class="footer">
    Created by: Shreyas Gupta &amp; Fahim Choudhury
    </div>
</html>
